* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1f2933, #111827);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: #ffffff;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid #e11d48;
}

h1 {
    font-size: 26px;
    color: #111827;
}

h2 {
    font-size: 16px;
    color: #6b7280;
    margin: 8px 0 15px;
}

p {
    font-size: 14px;
    color: #374151;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    text-decoration: none;
    padding: 10px 18px;
    background: #e11d48;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background: #be123c;
}

.btn.outline {
    background: transparent;
    color: #e11d48;
    border: 2px solid #e11d48;
}

.btn.outline:hover {
    background: #e11d48;
    color: white;
}
